<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title>{{.Title}} - {{.Site.Title}}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i">
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        <div id="container">
            <div id="site-header">
                <div id="site-title"><a href="/">Unnawut L.</a></div>

                <nav id="page-nav">
                    <a class="nav-item {{ if eq .URL "/"}}active{{ end }}" href="/">about</a>
<!--
                    <a class="nav-item {{ if eq .URL "/tech/"}}active{{ end }}" href="/tech/">tech</a>
                    <a class="nav-item {{ if eq .URL "/biz/"}}active{{ end }}" href="/biz/">biz</a>
                    <a class="nav-item {{ if eq .URL "/books/"}}active{{ end }}" href="/books/">books</a>
 -->
                    <a class="nav-item {{ if eq .URL "/donations/"}}active{{ end }}" href="/donations/">donations</a>
                    <!-- <a class="nav-item {{ if eq .URL "/links/"}}active{{ end }}" href="/links/">links</a> -->
                </nav>
            </div>

            <div id="site-body">
