body {
  color: #000b;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  -webkit-font-smoothing: antialiased;
}

p, ul, ol {
  max-width: 40rem;
  line-height: 1.75;
}

ul, ol {
  padding-left: 2rem;
  max-width: 38rem;
}

a {
  color: #07c;
  text-decoration: none;
  border-bottom: 1px solid #0003;
}

a:hover {
  color: #004373;
  border-bottom: 1px solid #0003;
}

blockquote {
  border-left: 5px solid #0009;
  margin-left: -1rem;
  padding: 0 1rem;
}

figure {
  max-width: 35rem;
}

figure.fullwidth {
  max-width: none;
  margin: 0;
}

img {
  max-width: 100%;
}

figcaption h4 {
  font-size: 0.825rem;
  font-weight: normal;
  margin: 0;
  max-width: 30rem;
  color: #0009;
}

.highlight pre {
  padding: 1.5rem 2rem;
}

footer {
}

/*
  Thai font
*/
.lang-thai {
  font-family: "Bai Jamjuree", sans-serif;
}

/*
  Main container
*/
#container {
  margin: auto;
  max-width: 55em;
  padding: 0 3rem;
}

/*
  Site header
*/

#site-header {
  margin-top: 4rem;
}

/*
  Site title
*/
#site-title {
  color: #000f;
  font-weight: bold;
}

#site-title a {
  color: #000f;
  border-bottom: 0;
}

#site-title a:hover {
  border-bottom: 1px solid #0006;
}

/*
  Navigation
*/
#page-nav {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

#page-nav a {
  color: #000b;
  border-bottom: 0;
}

#page-nav a:hover {
  border-bottom: 1px solid #0006;
}

#page-nav .nav-item {
  margin-right: 1rem;
}

#page-nav .nav-item.active {
  border-bottom: 2px solid #0006;
}

/*
  Site body
*/
#site-body {
  font-weight: 400;
  line-height: 1.5;
  margin-top: 3rem;
}

#site-body h1 {
  font-size: 2.5rem;
  font-weight: 100;
}

/*
  Post header
*/
.post-header {
  max-width: 40rem;
}

/*
  Post content
*/
.post-content {
}

.post-content h2 {
  margin-top: 3rem;
}

.post-content h2, .post-content strong {
  color: #000c;
}

/*
  Footer
*/
#site-footer {
  color: #0009;
  font-size: .75rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}
